__pycache__/
logs/
vox-profile-release/
Tabular_Features/tmp/metrics_shards/test/pair_metrics_test_shard_*.csv
Tabular_Features/tmp/metrics_shards/train/pair_metrics_train_shard_*.csv
Tabular_Features/tmp/vox_shards/test/pair_vox_test_shard_*.csv
Tabular_Features/tmp/vox_shards/train/pair_vox_train_shard_*.csv
Trillsson_Embeddings/tfhub_modules/
Trillsson_Embeddings/tmp/pair_trillsson/
Whisper_Embeddings/tmp/pair_whisper10/
EmotiVoice_Unnatural/logs/
EmotiVoice_Unnatural/tmp/metrics_shards/
EmotiVoice_Unnatural/tmp/vox_shards/
EmotiVoice_Unnatural/tmp/pair_trillsson/
EmotiVoice_Unnatural/tmp/pair_whisper10/
EmotiVoice_Unnatural/**/*.npy
EmotiVoice_Unnatural/**/*.csv
**/**/*.csv